parameters:
    level: 8
    paths:
        - src
        - tests
        - examples
    stubFiles:
        - stubs/FFI.stub
    scanFiles:
        - stubs/RtMidi.php
    ignoreErrors:
        - '#Cannot access offset .+ on FFI\\CData<.*#'
        - '#Strict comparison using === between 1024 and 0 will always evaluate to false\.#'
