parameters:
    level: 8
    paths:
        - src
        - tests
    stubFiles:
        - stubs/FFI.stub
    scanFiles:
        - stubs/RtMidi.php
    ignoreErrors:
        - '#Cannot access offset int on FFI\\CData<int>\.#'
        - '#Strict comparison using === between 64 and 0 will always evaluate to false\.#'
